.profile-container{
    display: flex;
    flex: 1;
}
.photo-container img{
    margin-right:20px;
}
   
.detail-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}